@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.container
{
  max-width: 600px;
  padding: 40px;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 35px 8px rgba(165, 157, 155, 0.27);
  border-top: 8px solid rgb(255,99,71);

  background-color: white;
}
input{
  border-radius: 8px;
  margin-top: 8px;
}
.textual
{
  color: rgb(69, 73, 82);
  text-align: left;
  margin-top: -20px;
  font-family: 'Oswald', sans-serif;
  /*padding: 5px;*/
  text-transform: uppercase;
}

.sub-textual
{
  color: rgb(47, 48, 44);
  text-align: left;
  margin-top: 36px;
  font-family: 'Oswald', sans-serif;

}
.right-textual
{
  color: rgb(47, 48, 44);
  text-align: left;
  /*margin-top: 16px;*/
  /*padding: 5px;*/
  font-family: 'Oswald', sans-serif;

}

label{
  margin-top: 8px;
}
.registerbtn
{
  background-color: transparent;
  padding: 8px 48px;
  border-radius: 8px;
  width: 100%;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  color: black;
  margin: auto;
  border: 1px solid rgb(255,99,71);
  margin-top: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.registerbtn:hover
{
  background-color: rgb(255,99,71);
  outline: none;
  border: 1px solid rgb(255,99,71);
  cursor: pointer;
  color: white;
}
.registerbtn:active
{
  background-color: rgb(255,69,0);
  outline: none;
  border: 1px solid rgb(255,69,0);
  cursor: pointer;
  color: white;
  transform: scale(0.9);
}
