<div class="sidebar-logo">
  <div class="welcometxt" style="float: left; display: flex; gap: 8px; align-items: center">
    <img class="logo" [src]="'assets/img/logo.svg'" width="30" height="30"><b>BloodFynd</b>
  </div>
  <b class="sidebar-text" style="color: black;margin-right: 36px"><i class="fa fa-user"></i> Hello {{loggedUser}}</b>
  <button class="logoutbtn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
</div>

<div class="sidebar-container">

  <ul class="sidebar-navigation">
    <li>
      <i class="fa fa-plus" aria-hidden="true"></i> <label [routerLink]="['/requestblood']" style="cursor: pointer;">Make Request</label>
    </li>

    <li>
      <i class="fa fa-heart" aria-hidden="true"></i> <label [routerLink]="['/userasdonor']" style="cursor: pointer;">Donate Blood</label>
    </li>
    <li>
      <i class="fa fa-paper-plane" aria-hidden="true"></i> <label [routerLink]="['/requesthistoryfromuser']" style="cursor: pointer;">Request History</label>
    </li>

    <li>
      <i class="fa fa-list" aria-hidden="true"></i> <label [routerLink]="['/donorlist']" style="cursor: pointer;">Available Donors</label>
    </li>
    <li>
      <i class="fa fa-cart-plus" aria-hidden="true"></i> <label [routerLink]="['/bloodStock']" style="cursor: pointer;">Blood stock</label>
    </li>
    <li>
      <i class="fa fa-user" aria-hidden="true"></i> <label [routerLink]="['/userprofile']" style="cursor: pointer;">Edit Profile</label>
    </li>


  </ul>
</div>

<div class="row main-container" style="padding: 0px 16px;">
  <div style="color: #0b0f37; margin-bottom: 48px; font-weight: bold; font-size: 24px; text-align: left;"><b>Welcome to User Dashboard</b>

  </div>

  <div *ngFor="let details of donationcount | async" class="card bg-light"id="bloodCards">
    <div class="card-body text-left card-main">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <div class="card-content">
        <div class="card-heading">Your Blood Donations </div>
        <div class="card-data" style="color: #473f3f; text-transform: capitalize; font-size: larger; font-size: 20px; ">{{details}}  times</div>
      </div>
    </div>
  </div>
  <div *ngFor="let details of totalrequests | async" class="card bg-light"id="bloodCards">
    <div class="card-body text-left card-main">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      <div class="card-content">
        <div class="card-heading"> Your Total Requests </div>
        <div class="card-data" style="color: #473f3f; text-transform: capitalize; font-size: larger; font-size: 20px; ">{{details}} requests</div>
      </div>
    </div>
  </div>
  <div *ngFor="let details of number | async" class="card bg-light"id="bloodCards">
    <div class="card-body text-left card-main">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <div class="card-content">
        <div class="card-heading">Total Donors  </div>
        <div class="card-data" style="color: #473f3f; text-transform: capitalize; font-size: larger; font-size: 20px; ">{{details}} donors</div>
      </div>

    </div>
  </div>

  <div *ngFor="let details of totalbloodgroups | async" class="card bg-light"id="bloodCards">
    <div class="card-body text-left card-main">
      <i class="fa fa-list" aria-hidden="true"></i>
      <div class="card-content">
        <div class="card-heading">Total Blood Groups </div>
        <div class="card-data" style="color: #473f3f; text-transform: capitalize; font-size: larger; font-size: 20px;">{{details}} blood groups</div>
      </div>
    </div>
  </div>
  <div *ngFor="let details of totalunits | async" class="card bg-light"id="bloodCards">
    <div class="card-body text-left card-main">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <div class="card-content">
        <div class="card-heading">Total Available Units </div>
        <div class="card-data" style="color: #473f3f; text-transform: capitalize; font-size: larger; font-size: 20px;">{{details}} units of blood (in ml)</div>
      </div>
    </div>
  </div>
  <div *ngFor="let details of totalusers | async" class="card bg-light"id="bloodCards">
    <div class="card-body text-left card-main">
      <i class="fa fa-user" aria-hidden="true"></i>
      <div class="card-content">
        <div class="card-heading">Total Registered Users </div>
        <div class="card-data" style="color: #473f3f; text-transform: capitalize; font-size: larger; font-size: 20px; ;">{{details}}   users</div>
      </div>
    </div>
  </div>
</div>

<br><br>
<app-footer></app-footer>
