@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.sidebar-container {
  margin: 8px;
  margin-top: 24px;
  border-radius: 12px;
  position: relative;
  width: 240px;
  height: 540px;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /*background-color: rgba(43, 46, 66, 0.94);*/
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /*background-image: linear-gradient(180deg, #FBAB7E 40%, #F7CE68 80%);*/
  color: #000;

}

.sidebar-container:hover {
  border: 1px solid rgba(43, 46, 66, 0.94);
}

.sidebar-text {
  font-size: small;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  text-align: right;
  background-color: #f5f5f5;
  width: 100%;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: larger;
  /*line-height: 20px;*/
  padding: 16px 20px;
  display: block;
  /*margin-top: 8%;*/
  transition: transform .2s;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.sidebar-navigation li:hover {
  background-color: #feffff;
  color: black;
  /*transform: scale(1.1);*/
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #13584f;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  /*padding-left: 220px;*/
}

.logoutbtn {
  border: none;
  background: rgba(255, 99, 71, 0.22);;
  color: darkslateblue;
  border-radius: 8px;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  font-size: small;
}

.logoutbtn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(255, 99, 71);
  border-radius: 8px;
}

.container {
  /*max-width: 550px;*/
  padding: 40px 40px 25px 40px;
  /*margin-top: -36%;*/
  /*margin-left: 35%;*/
  border-radius: 10px;
  box-shadow: 5px 5px 35px 8px rgb(147, 158, 147);
  border-top: 8px solid rgb(138, 24, 9);
  background-color: white;
  margin-bottom: 20px;
}

input {
  border-radius: 12px;
  margin-top: 8px;
}

.textual {
  color: rgb(64, 85, 15);
  text-align: center;
  margin-top: -20px;
  font-family: 'Oswald', sans-serif;
  padding: 5px;
  text-transform: uppercase;
}

label {
  margin-top: 8px;
}

.registerbtn {
  background-color: transparent;
  padding-left: 8%;
  padding-right: 8%;
  margin: auto;
  padding-bottom: 7px;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid black;
}

.registerbtn:hover {
  background-color: rgb(23, 78, 78);
  padding-left: 7%;
  padding-right: 7%;
  cursor: pointer;
  color: white;
}

.row {
  margin-left: 20%;
  margin-right: 1%;
  /*margin-top: -46%;*/
}

#bloodCards {
  margin-right: 5%;
  margin-bottom: 3%;
  padding: 8px 0;
  width: 45%;
  transition: transform .2s;
  background-color: #f5f5f5 !important;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

  /*box-shadow: 5px 5px 15px 8px rgb(147, 158, 147);*/
}

#bloodCards:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgba(217, 241, 246, 0.7) !important;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #f7ce68 100%);
  /*background: linear-gradient(to right, #ff9068, #fd746c); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}

.bloodimg {
  float: right;
}

.card-block {
  margin-top: -20%;
}

.text {
  font-family: 'Mate SC', serif;
  font-size: larger;
  font-weight: bolder;
}

.element {
  margin-left: 30px;
}

.fa {
  font-size: 16px;
}
#bloodCards:hover .fa{
  /*color: #00A1F1;*/
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #ff6347 100%);
  background-size: 100%;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.card-main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 36px;
}
.card-heading {
  font-weight: bolder;
  font-size: 28px;
  display: flex;
  gap: 36px;
  /*align-items: center*/
}
.card-main .fa{
  font-size: 48px;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-container{
  /*background-color: #f5f5f5;*/
  margin-top: -545px;
  border-radius: 8px;
}
